.login-fade {
	height: 8px;
	display: flex;
	background: linear-gradient(
	    to right,
	    rgb(8, 36, 104),
	    rgb(56, 108, 160),
	    rgb(160, 200, 240),
	    rgb(56, 108, 160),
	    rgb(8, 36, 104)
	);
}

.login-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: white;
	height: 100px;
}

.login-title-inner {
	width: 300px;
	backgroundColor: red;
	justify-content: center;
	align-items: center;
	display: flex;
}

.smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}